button{
    background: #ed6c1c;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
    &:hover{
        background: #f84200;
    }
    &:active{
        background: #f06d1b;
        color: #fff;
    }
}