button {
    background: #e91e63;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}

button:hover {
    background: #eb1a75;
}

button:active {
    background: #d81b60;
    color: #fff;
}
